# macOS system files
**/.DS_Store

# Python
**/__pycache__/
**/*.py[cod]
**/*.ipynb_checkpoints/
**/*.virtual_documents

# LaTeX
**/*.aux
**/*.fdb_latexmk

# Data, text, and intermediate files
**/*.tsv
**/*.txt
**/*.gz
**/*.zip
**/*.npz
**/*.pth
**/TIME.*

# Compiled output
**/*.out
**/*.o

# Environment/config
**/.env

# Media and binary files
**/*.pgm
**/*.pdf
**/*.png
**/*.jpg
**/*.jpeg
**/*.svg

# Project-specific
**/main
**/data/*
